Host *
    ControlMaster auto
    ControlPath ~/.ssh/sockets/%r@%h-%p
    ControlPersist 600
    ServerAliveInterval 60
    ServerAliveCountMax 3
    AddKeysToAgent yes
    IdentitiesOnly yes
    ForwardAgent no
    HashKnownHosts yes
    Compression yes


# Personal github account
Host github.com-tafk7
    HostName github.com
    User git
    IdentityFile ~/.ssh/id_ed25519_tafk7
    IdentitiesOnly yes
